<h1>All Users</h1>

<ol>
  <% @users.each do |user| %>
      <li><strong>Username:</strong> <%= user.username %>, <strong>Email:</strong> <%= user.email %>, <%= link_to 'Show', user %>, <%= link_to 'Edit', edit_user_path(user) %>, <%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: "Really delete this user?"} %></li>
  <% end %>
</ol>

<%= link_to 'Create New User', new_user_path %>