<!--<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username:</label>
  <input type="text" id="username" name="user[username]"><BR>
  <label for="email">Email:</label>
  <input type="text" id="email" name="user[email]"><BR>
  <label for="password">Password:</label>
  <input type="password" id="password" name="user[password]"><BR>
  <input type="submit" value="Create New User">
</form> -->

<%= form_tag("/users", method: "post") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %><BR>
  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %><BR>
  <%= label_tag(:password, "Password") %>
  <%= password_field_tag(:password) %><BR>
  <%= submit_tag("Create New User") %>
<% end %>
