<!-- <form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username:</label>
  <input type="text" id="username" name="user[username]"><BR>
  <label for="email">Email:</label>
  <input type="text" id="email" name="user[email]"><BR>
  <label for="password">Password:</label>
  <input type="password" id="password" name="user[password]"><BR>
  <input type="submit" value="Create New User">
</form> -->

<!-- <%= form_tag("/users", method: "post") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %><BR>
  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %><BR>
  <%= label_tag(:password, "Password") %>
  <%= password_field_tag(:password) %><BR>
  <%= submit_tag("Create New User") %>
<% end %> -->

<h1>Create New User</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul><% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %></ul>
  </div>
<% end %>

<%= form_for @user, url: {action:"create"} do |f| %>
  <%= f.label :username, "Username (3-15 Characters):" %>
  <%= f.text_field :username, placeholder: "bigbud" %><BR>
  <%= f.label :email, "Email:" %>
  <%= f.text_field :email, placeholder: "example@email.com" %><BR>
  <%= f.label :password, "Password (6-20 Characters):" %>
  <%= f.password_field :password %><BR>
  <%= f.submit "Create New User" %>
<% end %>
